<html>
    <head>
        <title>Friends</title>
    </head>
    <body>
        <h1>Friends</h1>
        <form action = '/friends' method='POST'>
            <label>Name:</label>
            <input type='text' name='name'>
            <label>Age:</label>
            <input type='number' name='age'>
            <input type='submit' value='Submit'>
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Friends Since</th>
            </tr>
            {% for friend in friends %}
            <tr>
                <td>{{ friend.first_name + " " + friend.last_name }}</td>
                <td>{{ friend.age }}</td>
                <td>{{ friend.created_at.strftime('%D') }}</td>
            {% endfor %}
        </table>

    </body>


</html>